kiemtra2/node_red_flow.json
[
    {
        "id": "thingspeak-mqtt-broker",
        "type": "mqtt-broker",
        "name": "ThingSpeak MQTT",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "IRU6PSACOwQPHy4PKiczCiI",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "username": "IRU6PSACOwQPHy4PKiczCiI",
        "password": "gHzqnX35vjOPS0jeNUVtBdfV",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-light",
        "type": "mqtt in",
        "name": "Nhận Cường độ ánh sáng",
        "topic": "channels/3153408/subscribe/fields/field1",
        "qos": "1",
        "datatype": "auto",
        "broker": "thingspeak-mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "function-parse-light",
                "gauge-light",
                "bar-light"
            ]
        ]
    },
    {
        "id": "mqtt-distance",
        "type": "mqtt in",
        "name": "Nhận Khoảng cách",
        "topic": "channels/3153408/subscribe/fields/field2",
        "qos": "1",
        "datatype": "auto",
        "broker": "thingspeak-mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "function-parse-distance",
                "gauge-distance",
                "bar-distance"
            ]
        ]
    },
    {
        "id": "function-parse-light",
        "type": "function",
        "name": "Parse Cường độ ánh sáng",
        "func": "// Parse và chuyển đổi cường độ ánh sáng\nvar value = parseFloat(msg.payload);\nif (isNaN(value)) {\n    return null;\n}\nmsg.payload = value;\nmsg.topic = \"light\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "debug-light"
            ]
        ]
    },
    {
        "id": "function-parse-distance",
        "type": "function",
        "name": "Parse Khoảng cách",
        "func": "// Parse và chuyển đổi khoảng cách\nvar value = parseFloat(msg.payload);\nif (isNaN(value)) {\n    return null;\n}\nmsg.payload = value;\nmsg.topic = \"distance\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "debug-distance"
            ]
        ]
    },
    {
        "id": "gauge-light",
        "type": "ui_gauge",
        "name": "Gauge Cường độ ánh sáng",
        "group": "dashboard-group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Cường độ ánh sáng",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 1000,
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "gauge-distance",
        "type": "ui_gauge",
        "name": "Gauge Khoảng cách",
        "group": "dashboard-group",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Khoảng cách",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 200,
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "bar-light",
        "type": "ui_chart",
        "name": "Bar Chart Cường độ ánh sáng",
        "group": "dashboard-group",
        "order": 3,
        "width": 0,
        "height": 0,
        "chartType": "bar",
        "label": "Cường độ ánh sáng",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bar-distance",
        "type": "ui_chart",
        "name": "Bar Chart Khoảng cách",
        "group": "dashboard-group",
        "order": 4,
        "width": 0,
        "height": 0,
        "chartType": "bar",
        "label": "Khoảng cách",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 380,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "debug-light",
        "type": "debug",
        "name": "Debug Cường độ ánh sáng",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-distance",
        "type": "debug",
        "name": "Debug Khoảng cách",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "dashboard-group",
        "type": "ui_group",
        "name": "Giám sát Ánh sáng & Khoảng cách",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "height": "1",
        "className": ""
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]

